.content-area {
	
	@include breakpoint($portrait){
		@include span(9);
	}
	
}

.site-main {
	
}

.site-content .widget-area {

	@include breakpoint($portrait){
		@include span(3 last);
	}
}

.site-footer {
	
	@include container;

	background-color:#444;
	color:#fff;

	a {
		color:inherit;
	}
}