.site-content {
	@include container;
	background-color: #efefef;
}

.content-area {
	
	background-color: #fff;

	@include breakpoint($portrait){
		@include span(9);
	}
	
}

.site-main {
	
}

.site-content .widget-area {

	@include breakpoint($portrait){
		@include span(3 last);
	}
}

.site-footer {

	background-color:#444;
	color:#fff;

	.site-info,
	.menu-social {
		@include breakpoint($portrait){
			@include span(6);
		}
	}

	a {
		color:inherit;
	}
}