// Susy setup 12 column grid
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container:1200px,
  container-position: center,
  columns: 12,
  gutters: .75,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);



// Responsive sizes
$portrait:768px;



$size__site-main: 100%;
$size__site-sidebar: 25%;